---
import BaseLayout from '../layouts/BaseLayout.astro';

import { FullScreenSection } from '../components/js/Molecule/FullScreenSection';
import { H1 } from '../components/js/Atom/Typography';
import { P } from '../components/js/Atom/Typography';
import { Logo } from '../components/js/Atom/Logo/Logo';
import { Container } from '../components/js/Atom/Layout/Container';
import { Flex } from '../components/js/Atom/Layout/Flex';
import { LinkBox } from '../components/js/Molecule/LinkBox';

---

<BaseLayout>
  <FullScreenSection heading="">
    <Container>
      <Logo />
      <H1 align="center">
        I craft software.
      </H1>
    </Container>
  </FullScreenSection>

  <FullScreenSection heading="What are you looking for?">
    <Container>
      <Flex.Root justify="between">
        <Flex.Item>
          <LinkBox to="/software-development">
            <P align="center">software development</P>
          </LinkBox>
        </Flex.Item>
        <Flex.Item>
          <LinkBox to="/software-architecture">
            <P align="center">software architecture </P>
          </LinkBox>
        </Flex.Item>
        <Flex.Item>
          <LinkBox>
            <P align="center">knowledge</P>
            <P align="center">(coming soon)</P>
          </LinkBox>
        </Flex.Item>
      </Flex.Root>
    </Container>
  </FullScreenSection>
</BaseLayout>
