section
  height: 100%
  color: white

.index-section
  background-color: $color_blueberry
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  p
  font-size: 3rem