---
import '../components/astro/GlobalStyle.astro';
import Header from '../components/astro/Header.astro';

import { Page } from '../components/js/Atom/Layout/Page';

const { title = 'Welcome', description = '' } = Astro.props;

let redirectUrl = Astro.url.pathname.split('/')
    .filter(path => path && path !== '/')
    .slice(0, -1).join('/');

if (!redirectUrl.startsWith('/')) {
    redirectUrl = `/${redirectUrl}`;
}

const isCurrentPage = Astro.url.pathname === redirectUrl;

if (!isCurrentPage && redirectUrl === '/') {
    redirectUrl = '/#navigation';
}
---

<html lang="en">
<Header title={title} description={description}/>
<body>
<Page closeUrl={isCurrentPage ? undefined : redirectUrl}>
    <slot/>
</Page>
</body>
</html>
